<form action="/artist" method="post">
	<label>
		Name: <input type="text" name="artist[name]">
	</label>
	<label>
		Photo URL: <input type="text" name="artist[photo_url]">
	</label>
	<label>
		Nationality: <input type="text" name="artist[nationality]">
	</label>
	<input type="submit" value="Create Artist">
</form>